
html, body
{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
footer{
     margin-top: auto;
    text-align: center;
    color: white;
    background-color: blue;
    padding: 15px;
   
}
